body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #011970;
    color: white;
}
.header {
    padding: 2rem;
    display: flex;
    background-color: #2542ab;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
.header h1{
    margin-bottom: 20px;
}
.header nav a{
    margin-left: 1.5rem;
    text-decoration: none;
    font-weight: bolder;
    background-color: white;
    border-radius: 5px;
    padding: 3px 5px;
}
.header nav a:hover{
    text-transform: uppercase;
    color: blue;
    background-color: black;
}
.tit {
    text-align: center;
}
.inici {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.inici a{
    text-align: center;
    margin-left: 1.5rem;
    text-decoration: none;
    font-weight: bolder;
    background-color: white;
    border-radius: 5px;
    padding: 3px 5px;
}
.inici a:hover{
    text-transform: uppercase;
    color: blue;
    background-color: black;
}
.contacto {
    text-align: justify;
    justify-content: space-around;
    background-color: rgb(53, 53, 152);
    color: white;
    margin: auto;
    padding: 8px 5px;
}
.horario {
    align-items: center;
    border: 1px solid white;
}
.horario td {
    border: 1px solid white;
}
.footer {
    background-color: #2542ab;
    justify-content: space-between;
    align-items: center;
}
.footer a {
    display: inline;
    text-decoration: none;
    color: white;
}
.footer img{
    max-width: 30px;
}
.copyright {
    text-align: center;
}