body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #011970;
    color: white;
}
.header {
    padding: 2rem;
    display: flex;
    background-color: #2542ab;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
.header h1{
    margin-bottom: 20px;
}
.header nav a{
    margin-left: 1.5rem;
    text-decoration: none;
    font-weight: bolder;
    background-color: white;
    border-radius: 5px;
    padding: 3px 5px;
}
.header nav a:hover{
    text-transform: uppercase;
    color: blue;
    background-color: black;
}
.tit {
    text-align: center;
}
img {
    align-items: center;
    width: 200px;
    border-radius: 50%;
}
table {
    display: block;
}
.desc {
    text-align: justify;
    justify-content: space-around;
    color: white;
    margin: auto;
}
.footer {
    background-color: #2542ab;
    justify-content: space-between;
    align-items: center;
}
.footer a {
    display: inline;
    text-decoration: none;
    color: white;
}
.footer img{
    max-width: 30px;
}
.copyright {
    text-align: center;
}