body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #011970;
    color: white;
}
.header {
    width: 100%;
    padding: 2rem;
    display: flex;
    background-color: #2542ab;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
.header h1{
    margin-bottom: 20px;
}
.header nav a{
    margin-left: 1.5rem;
    text-decoration: none;
    font-weight: bolder;
    background-color: white;
    border-style: dashed;
    border-color: black;
    border-radius: 5px;
    padding: 3px 5px;
}
.header nav a:hover{
    text-transform: uppercase;
    color: blue;
    background-color: black;
}
.fons {
    width: 100%;
    max-width: 300px;
}
.noticias_frescas {
    border-style: dashed;
    border-color: black;
    background-color: rgb(53, 53, 152);
    color: white;
}
.fechaihora {
    font-style: italic;
}
.noticia {
    font-weight: bold;
}
.anteriores {
    display: inline-block;
    justify-content: space-between;
    border-style: dashed;
    border-color: black;
    background-color: rgb(53, 53, 152);
    color: white;
    margin: auto;
}
.footer {
    background-color: #2542ab;
    justify-content: space-between;
    align-items: center;
}
.footer a {
    text-decoration: none;
    color: white;
}
.footer img{
    max-width: 30px;
}