.titulo {
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}
.autor {
    font-size: 22px;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    margin-bottom: 30px;
}
.head {
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    margin-top: 30px;
}
.parrafo {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    text-align: justify;
    margin-bottom: 15px;
}